.carousel-inner img{
    height: 450px;
    
    
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover{
    transform: translateZ(20px) scale(1.05);

}
 .footer {
  background-color: #111;
  color: #fff;
  padding-top: 40px;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}

.footer-box {
  width: 300px;
  margin-bottom: 30px;
}

.footer-box h3 {
  margin-bottom: 15px;
  color: #f1c40f;
}

.footer-box p,
.footer-box li {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-box ul li a:hover {
  color: #f5c506;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #000;
}
